@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #000; }
  
  ::-webkit-scrollbar-thumb {
    background: skyblue;
 }

                                                            /*HOME PAGE STYLE*/
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px ;
    z-index: 1000;
}
header .logo{
    text-decoration: none;
    position: relative;
    font-size: 2em;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

header .logo span{
    color: #fff;
}
 header .toggle{
    position: absolute;
    width: 50px;
    height: 40px;
    top: 30px;
    right: 100px;
    cursor: pointer;
    z-index: 1000;
  }
  header .toggle span{
      position: absolute;
      width: 50px;
      height: 3px;
      transition: 0.6s;
    }
    header .toggle .three{
    width: 25px;
    background:  turquoise;
    }
    header .toggle .one,header .toggle .four{
        background:  #fff;
        }
  header .toggle .one{
      top: 0;
  }
  header .toggle .two,header .toggle .three{
      top: 16px;
  }
  header .toggle .four{
      top: 30px;
  }
  header .active .one,header .active .four{
      display: none;
  }
  header .active .two{
      transform:rotate(45deg);
      background: turquoise;
  }
  header .active .three{
      width: 50px;
      transform:rotate(-45deg);
      background: turquoise;
  }
  .menuoverlay{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background: #000;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: 0.6s;
    transform:scale(0);
    width: 100%;
    min-height: 100vh;
}
.menuoverlay.active{
    transform:scale(1)
}
.menuoverlay ul{
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}
.menuoverlay ul li a{
    position: relative;
    text-decoration: none;
    font-size: 3.5em;
    padding: 15px 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}
.menuoverlay ul li a:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: turquoise;
    transform: translateY(-30%) scaleY(0);
    transform-origin: right;
    transition:0.5s transform;
    z-index: -1;
}
.menuoverlay ul li a:hover:before{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition:0.5s transform;
}

.banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #111;
    opacity: 0.9;
}
.banner:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: top;
    width: 28%;
    height: 100vh;
    background:  turquoise;
    z-index: 0;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    opacity: 0.15;
    height: 100%;
    pointer-events: none;
}
.banner .description{
    position: relative;
    max-width: 600px;
}
.banner .description .text{
    font-size: 1.1em;
    color: #fff;
    margin: 5px 0px 25px;
}
.banner .description h2{
    font-size: 2.5em;
    color: #fff;
}
.banner .description a{
    position: relative;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.banner .description a:hover{
    background: #fff;
    color: #000;
}
.social_media{
    position: absolute;
    bottom: 20px;
    right: 100px;
    justify-content: flex;
    justify-content: center;
    align-items: center;
}
.social_media li{
  list-style: none;
}
.social_media li a {
    display: inline-block;
    margin-bottom: 0px;
}
.social_media li a:hover{
    transform: translateX(-15px);
}
.social_media li a img{
    width: 35px;
    height: 40px;
    transform:scale(0.5);
    filter: invert(1);
}
@media (max-width:991px){
    header{
        padding: 20px;
    }
    header .logo{
        font-size: 1.4em;
    }
    header .toggle{
        position: fixed;
        width: 40px;
        height: 30px;
        right: 30px;
        cursor: pointer;
        z-index: 1000;
    }
    .banner{
        padding: 30px;
    }
    .social_media{
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
}

                                                        /*ABOUT STYLE*/
.about{
    position: relative;
    width: 100%;
    display: flex;
    padding:  100px ;
    background: #000;

}

.about .ContentBx{
    width: 50%;
    background: transparent;
    z-index: 1000;
    padding-right: 10px;
}
.heading{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;

}
.about .imgBx{
    z-index: 1000;
    width: 50%;
    background-image: url(./images/about.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}
@media (max-width:991px){
    .about{
        flex-direction: column;
        padding: 40px;
    }
    .about .ContentBx,.about .imgBx{
        width: 100%;
        padding: 20px 0;
        min-height: 400px;
        text-align: left;
    }
}
/*CONTACT STYLE*/
.contact{
    padding:  100px 100px 50px 100px ;
    text-align: left;
    background: #111;
}
.contact h2, .contact p{
    color: #fff;
}
.contact1{
    padding: 50px 100px 100px 100px;
    display: flex;
    background: #111;
}
.imgBx2{
    background: url(./images/contact.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.RedBg{
    width: 50%;
}
.form .inputBx{
    margin-bottom: 40px;
    margin-left: 10px;
}
.form .inputBx input{
    width: 90%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid turquoise;
}
.form .inputBx input::placeholder{
    color: #fff;
}

.form .inputBx textarea{
    width: 90%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px ;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid turquoise;
}
.form .inputBx textarea::placeholder{
    color: #fff;
}
.form .inputBx input[type="submit"]{
    width: 150px;
    background: turquoise;
    color: #000;
    cursor: pointer;
    font-weight: 400;
    border: none;
}
.form .inputBx input[type="submit"]:hover{
    background: #fff;
}
@media (max-width:991px){
    .contact{
        padding: 40px;
    }
    .contact1{
        padding: 10px;
        width: 100%;
    }
    .RedBg{
        width: 100%;
        float: left;
    }
    .ContentBx{
        width: 100%;
    }
    .contact1 .imgBx2{
        position: absolute;
        display: none;
    }
   
}


/*FOOTER STYLE*/
.footer{
    background: #000;
    padding: 20px 100px;
}
.footer p{
    color: #fff;
    text-align: center;
}
@media (max-width:991px){
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
}